
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow anyone to create a document in the pre-orders collection.
    // Disallow read, update, delete for all users to protect user privacy.
    match /pre-orders/{document=**} {
      allow create: if true;
      allow read, update, delete: if false;
    }

    // Rules for the businesses collection
    match /businesses/{businessId} {
      // A user can create a document if they are authenticated and the document's ID
      // is the same as their own user ID.
      allow create: if request.auth != null && request.auth.uid == businessId;
      
      // A user can read, update, or delete their own business document.
      allow read, update, delete: if request.auth != null && request.auth.uid == businessId;
    }
  }
}
