rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to create a document in the 'pre-orders' collection.
    match /pre-orders/{document=**} {
      allow create: if true;
    }

    // Allow authenticated users to create a document in the 'businesses'
    // collection, but only if the document ID matches their own user ID.
    match /businesses/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
    }
  }
}
