@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 58% 43%; /* New Blue */
    --foreground: 0 0% 100%; /* White */
    --card: 224 76% 38%;
    --card-foreground: 0 0% 100%;
    --popover: 224 76% 33%;
    --popover-foreground: 0 0% 100%;
    --primary: 45 100% 51%; /* Vibrant Yellow */
    --primary-foreground: 224 76% 10%;
    --secondary: 33 89% 95%; /* Light Yellow */
    --secondary-foreground: 224 76% 10%;
    --muted: 224 76% 58%;
    --muted-foreground: 224 76% 90%;
    --accent: 0 0% 100%; /* White */
    --accent-foreground: 224 76% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 76% 58%;
    --input: 224 76% 58%;
    --ring: 45 100% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 58% 43%; /* New Blue */
    --foreground: 0 0% 100%; /* White */
    --card: 224 76% 38%;
    --card-foreground: 0 0% 100%;
    --popover: 224 76% 33%;
    --popover-foreground: 0 0% 100%;
    --primary: 45 100% 51%; /* Vibrant Yellow */
    --primary-foreground: 224 76% 10%;
    --secondary: 33 89% 95%; /* Light Yellow */
    --secondary-foreground: 224 76% 10%;
    --muted: 224 76% 58%;
    --muted-foreground: 224 76% 90%;
    --accent: 0 0% 100%; /* White */
    --accent-foreground: 224 76% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 76% 58%;
    --input: 224 76% 58%;
    --ring: 45 100% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
