@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  :root {
    --background: 243 83% 45%; /* 2C2CB1 */
    --foreground: 0 0% 100%; /* White */
    --card: 224 76% 38%;
    --card-foreground: 0 0% 100%;
    --popover: 224 76% 33%;
    --popover-foreground: 0 0% 100%;
    --primary: 45 100% 51%; /* Vibrant Yellow */
    --primary-foreground: 224 76% 10%;
    --secondary: 50 100% 91%; /* #FFF5CF */
    --secondary-foreground: 224 76% 10%;
    --muted: 224 76% 58%;
    --muted-foreground: 224 76% 90%;
    --accent: 0 0% 100%; /* White */
    --accent-foreground: 224 76% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 76% 58%;
    --input: 224 76% 58%;
    --ring: 45 100% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 243 83% 45%; /* 2C2CB1 */
    --foreground: 0 0% 100%; /* White */
    --card: 224 76% 38%;
    --card-foreground: 0 0% 100%;
    --popover: 224 76% 33%;
    --popover-foreground: 0 0% 100%;
    --primary: 45 100% 51%; /* Vibrant Yellow */
    --primary-foreground: 224 76% 10%;
    --secondary: 50 100% 91%; /* #FFF5CF */
    --secondary-foreground: 224 76% 10%;
    --muted: 224 76% 58%;
    --muted-foreground: 224 76% 90%;
    --accent: 0 0% 100%; /* White */
    --accent-foreground: 224 76% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 76% 58%;
    --input: 224 76% 58%;
    --ring: 45 100% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    isolation: isolate;
  }
}

@layer utilities {
  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(505vh) rotate(720deg);
      opacity: 0;
    }
  }

  .animate-fall {
    animation: fall linear infinite;
  }
}
